:root{
    --clr-gold: #c59d5f;
}
main{
    margin:0 0;
    padding:0 0;
    letter-spacing: 3px;
    flex-wrap: wrap;
}
a{
    text-decoration:none;
}
li{
    list-style-type: none;
}
header{
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
}
h1{
    text-align: center;
}
.underline{
    width:10vw;
    margin:auto;
    border-top:3px solid hsl(209, 61%, 16%);
}
ul{
    display:flex;
    justify-content:center;
}
li{
    /* text-align:center; */
    margin:auto 2px;
}
button{
    /* border:transparent; */
    background:transparent;
    padding:0.5rem 1.25rem;
    border-radius: 5px;;
}
.options{
    display:grid ;
    grid-template-columns:auto auto ;
    justify-content:center ;
}
.menuitem{
    /* border:3px solid var(--clr-gold); */
    display:flex;
    width:40vw;
    /* margin:10px; */
    justify-content: center;
    margin:auto;
}
h3{
    margin-top:7px;
    /* border:2px solid red; */
}
.img{
    /* border:1px solid green; */

    /* margin:5px; */
}
img{
    /* display: block; */
    width: 150px;
    height: 150px;
    border:5px solid var(--clr-gold);
    margin-right:5px;
    border-radius:10px;
    /* object-fit: contain; */
}
.content{
    display:flex;
    flex-direction:column;
    letter-spacing: normal;
    /* width:500px; */
    /* justify-content:center; */
    /* border:1px solid var(--clr-gold); */
    /* margin-top:0; */
}
.border{
    border-top:2px solid black;
}
@media screen and (min-width:860px) and (max-width:1100px){
    .options{
        display:grid;
        grid-template-columns:auto ;
        justify-content:center ;
    }
    .desc{
        overflow:auto;
    }
}
@media screen and (max-width:860px){
    .options{
        display:grid;
        grid-template-columns:auto ;
        justify-content:center ;
    }
    .menuitem{
    flex-direction:column ;
    justify-content:center ;
    }
    img{
        height:auto;
        width:30vw;
        margin:auto;
    }
    .content:nth-child(n){
        margin:5px;
    }
}

.hide{
    display:none;
}